@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FDFCFC;
    font-family: 'Poppins', sans-serif;
    gap: 32px;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

img {
    -webkit-user-drag: none;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.top-link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #90170E;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.top-link:hover {
    background-color: #6e130c;
}

@media (max-width: 768px) {
    .top-container {
        padding: 1rem;
    }

    .top-link {
        font-size: 1rem;
        padding: 0.8rem 1rem;
        gap: 8px;
    }
}