.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.contact-section-title-container {
    padding-bottom: 4rem;
}

.contact-section-title {
    color: #c01f13;
    font-size: 48px;
    font-weight: 500;
}

.contact-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contact-section-form-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-left: 1px solid #c01f13;
    padding: 1rem 5rem;
}

.contact-section-img {
    width: 35%;
}

.contact-section-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-section-value {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contact-section-label {
    font-size: 18px;
    font-weight: 500;
}

.contact-section-input {
    padding: 1rem 1rem;
    border: 1px #000000 solid;
    border-radius: 8px;
    font-size: 18px;
}

.contact-section-button {
    padding: 1rem 0rem;
    border-radius: 8px;
    background-color: #c01f13;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-section-button:hover {
    background-color: #83160e;
}

.contact-section-form-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 1rem;
}

.contact-section-form-text {
    color: #c01f13;
}

.contact-section-form-icon {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button {
    padding-bottom: .5rem;
    border-bottom: 3px #c01f13 solid;
}

.fa-whatsapp {
    font-size: 50px; 
    color: #c01f13; 
    transition: transform 0.2s ease-in-out;
}

.fa-instagram {
    font-size: 50px;
    color: #c01f13;
    transition: transform 0.2s ease-in-out; 
}
 