.item-main-container {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 5rem 0rem 10rem 0rem;
}

.item-container {
    display: flex;
    gap: 100px;
}

.item-section-title {
    color: #c01f13;
    font-size: 48px;
    font-weight: 500;
}

.item-section-container {
    display: flex;
    gap: 64px;
    align-items: center;
}

.item-section-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.item-section-img {
    transition: opacity 0.3s ease-in-out;
}

.item-section-img:hover {
    opacity: 0.5;
}

.item-section-link {
    text-decoration-color: #c01f13;
}

.item-section-link:active {
    text-decoration-color: #83160e;
}

.item-section-description {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.item-section-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-section-name {
    color: #c01f13;
    font-size: 24px;
    font-weight: 600;
}

.item-section-name:active {
    color: #83160e  ;
}

.item-section-button {
    padding: 1rem 2rem;
    border: none;
    background-color: #c01f13;
    color: #ffffff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.item-section-button:hover {
    background-color: #83160e;
}