.team-main-container {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.team-top-container {
    display: flex;
    justify-content: start;
}

.team-top-link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    background-color: #facfca;
    padding: 1rem 1rem;
    border-radius: 8px;
}

.team-top-link:hover {
    background-color: #e7c0bb;
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 5rem 0rem 10rem 0rem;
}

.team-section-title {
    color: #c01f13;
    font-size: 48px;
    font-weight: 500;
}

.team-section-container {
    display: flex;
    gap: 128px;
}

.team-section-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.team-section-img {
    transition: opacity 0.3s ease-in-out;
}

.team-section-img:hover {
    opacity: 0.5;
}

.team-section-name {
    color: #c01f13;
    font-size: 32px;
    font-weight: 600;
}
